*{
    box-sizing: border-box;
}
html {
    font-size: 16px;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@font-face {
    font-family: 'Clear Sans Medium';
    src: url('../css/clearsans_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Clear Sans Medium', sans-serif;
}

header {
    margin-bottom: 120px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.2s ease;
}

a:hover {
    text-decoration: none;
    color: #409468;
    transform: scale(1.1);
}

.lev-bg {
    background-color: #468966;
}

.lev-color {
    color: #468966;
}

.text-center {
    text-align: center;
}

.td {
    text-decoration: none;
}

.cw {
    color: #ffffff;
}

.cw:hover {
    color: #ffffff;
}

.ml-auto {
    margin-left: auto !important;
}

.site-error.md-top-20 {
    margin-top: 100px;
}

.dn {
    display: none;
}

.mt-10 {
    margin-top: 10px;
}

.small-font {
    font-family: GetVoIP Grotesque;
}

.tc {
    text-align: center;
}

.tf {
    text-align: justify;
    text-indent: 3em;
    margin-bottom: 0;
    font-size: 24px;
}

i {
    margin-right: 10px;
    margin-top: 5px;
}

.breadcrumb {
    padding-left: 20px;
}

.modal {
    display: none;
    position: fixed; /* Открывается поверх всего */
    z-index: 1000; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Прокрутка при необходимости */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Отступ сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.6s ease, margin-top 0.6s ease; /* Добавляем переход для margin-top */
}

.close:hover,
.close:focus {
    transform: scale(1.4);
    margin-top: -18px; /* Смещение при наведении */
}

/* Добавляем дополнительный класс для анимации обратно */
.close:not(:hover):not(:focus) {
    transition: transform 0.3s ease, margin-top 0.3s ease; /* Уменьшаем время анимации при возврате */
}


.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-open {
    overflow: scroll !important;
    padding-right: 0 !important;
}

.form-control:focus {
    color: #468966;
    border-color: #468966;
    box-shadow: 0 0 0 0.25rem #46896640
}
.modal-footer {
    margin-top: 20px;
    display: flex; /* Включаем флекс-бокс */
    justify-content: space-between;
    gap: 50px;
}

.modal-footer .btn {
    flex-grow: 1; /* Позволяет кнопкам расширяться, заполняя доступное пространство */
    min-width: 0; /* Позволяет кнопкам сжиматься до нуля, если это необходимо */
}
.form-control:hover,
.form-control:focus,
.btn-success:hover,
.btn-success:focus {
    text-decoration: none;
    cursor: pointer;
    border-color: #264d39;
    box-shadow: 0 0 0 0.25rem #46896640
}